#
CONFIG_LOCALVERSION="-nodiot"
CONFIG_DEFAULT_HOSTNAME="nodiot"
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y

CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y

CONFIG_PREEMPT=y
CONFIG_NOHIGHMEM=y

CONFIG_NET=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_INET_XFRM_MODE_TRANSPORT=n
CONFIG_INET_XFRM_MODE_TUNNEL=n
CONFIG_INET_XFRM_MODE_BEET=n
CONFIG_IPV6=n

WIRELESS=n

CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_INPUT_MOUSE=y
CONFIG_MOUSE_PS2=y
CONFIG_MOUSE_SYNAPTICS_USB=y

CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y

CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_NOWAYOUT=y
CONFIG_SOFT_WATCHDOG=m
CONFIG_ITCO_WDT=m

CONFIG_FB=y
CONFIG_FB_VESA=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_LOGO=y
LOGO_LINUX_MONO=y
LOGO_LINUX_VGA16=n
LOGO_LINUX_CLUT224=n

CONFIG_HID_GENERIC=y

CONFIG_USB_SUPPORT=n

CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_CMOS=y

CONFIG_PRINTK_TIME=y
CONFIG_MAGIC_SYSRQ=y



